.header-contain{
    background-image: url("../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    min-height: 100vh;
}
.input-city{
    width: 600px;
    padding: 10px 0px 10px 30px;
    border-radius: 20px;
    font-size: 20px;
    background-color: white;
    margin: 3rem;
   
    
    
}
.weather-box{
    position: relative;
    bottom: 5rem;
    margin:2.5rem;
    width: 180px;
    height: 180px;
    border-radius: 30%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 3px 0px 8px silver;
    padding-bottom: 10px;
}

.days {
    margin-top: 25px;
    padding-top: 15px ;
    font-weight: bold;
    margin: 0;
}
.temp{
    padding-bottom: 10px;
    font-weight:400
    ;
}
.today{
    top: -10px;
    height: 480px;
    width: 980px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px silver;
}
.description{
    text-align: left;
    padding-top: 8rem;
}
.description >h3 {
    font-weight:400
}
.description >h1 {
    font-weight: bolder;
}
.init-descrip{
    font-weight: 600;
    font-size: 3.5rem;
    margin-top: 10rem;
    margin-left: -10rem;
}